[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "pathogen"]
	path = pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vividchalk"]
	path = bundle/vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist-plus.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/mac-classic-theme"]
	path = bundle/mac-classic-theme
	url = https://github.com/nelstrom/vim-mac-classic-theme.git
[submodule "bundle/drawit"]
	path = bundle/drawit
	url = https://github.com/vim-scripts/DrawIt.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/gitv"]
	path = bundle/gitv
	url = https://github.com/gregsexton/gitv.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/localvimrc"]
	path = bundle/localvimrc
	url = https://github.com/vim-scripts/localvimrc.git
[submodule "bundle/vim-polyglot"]
	path = bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = git@github.com:tsaeger/vim-snippets.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/tern_for_vim"]
	path = bundle/tern_for_vim
	url = https://github.com/marijnh/tern_for_vim.git
[submodule "bundle/DrawIt"]
	path = bundle/DrawIt
	url = https://github.com/vim-scripts/DrawIt.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "bundle/DirDiff"]
	path = bundle/DirDiff
	url = https://github.com/vim-scripts/DirDiff.vim.git
[submodule "bundle/cream-showinvisibles"]
	path = bundle/cream-showinvisibles
	url = https://github.com/vim-scripts/cream-showinvisibles.git
[submodule "bundle/bitbake"]
	path = bundle/bitbake
	url = https://github.com/kergoth/vim-bitbake.git
[submodule "bundle/pkgbuild"]
	path = bundle/pkgbuild
	url = https://github.com/vim-scripts/PKGBUILD.git
[submodule "bundle/vim-obsession"]
	path = bundle/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "bundle/ag"]
	path = bundle/ag
	url = https://github.com/rking/ag.vim.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-qargs"]
	path = bundle/vim-qargs
	url = https://github.com/henrik/vim-qargs.git
